* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding-left: 10vw;
  padding-right: 10vw;
  width: max-content;
  margin: auto;
  border-radius: 9em;
  padding: 10px;
}

main button {
  height: 40vh;
  width: 20vw;
  max-width: 250px;
  max-height: 250px;
  border-radius: 1em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease;
}

main button:hover {
  cursor: pointer;
  /* box-shadow: inset 0px 0px 100px 30px white; */
}

main button:active {
  box-shadow: none;
}

main button:nth-child(1) {
  background-color: red;
  border-top-left-radius: 10em;
}

main button:nth-child(2) {
  background-color: green;
  border-top-right-radius: 10em;
}

main button:nth-child(3) {
  background-color: yellow;
  border-bottom-left-radius: 10em;
}

main button:nth-child(4) {
  background-color: blue;
  border-bottom-right-radius: 10em;
}

button.on,
button:active {
  box-shadow: inset 0px 0px 100px 30px white;
}

aside {
  text-align: center;
}
.debug {
  text-align: center;
  margin-top: 5em;
  display: inline-flex;
  gap: 100px;
}

#player-turn,
#next-turn {
  border-radius: 10em;
  margin: auto;
  height: 100px;
  width: 100px;
}

#play {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

path {
  fill: rgb(255, 59, 222);
  margin: 0;
  padding: 0;
}

#play:active {
  box-shadow: none;
}

#current-game {
  display: none;
}

@media (max-width: 1280px) {
  main button {
    height: 22vh;
    width: 10vw;
    min-width: 150px;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease;
  }
  main {
    gap: 10px;
  }
}

@media (max-width: 560px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  main button {
    height: 20vh;
    width: 40vw;
  }

  .debug {
    margin-top: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    height: 40vh;
  }

  #play {
    margin-bottom: 10px;
  }

  #next-turn,
  #player-turn {
    margin: 0 auto;
  }
}
